.mat-mdc-menu-panel {
  overflow: hidden;
  border: 1px solid #e2e8f0;
  border-radius: 6px !important;
  background: #ffffff;
  box-shadow: 0 8px 10px rgba(15, 23, 42, 0.08);
  z-index: 10001;
}

.mat-mdc-menu-content {
  padding: 0 !important;
  background: #fff;
}

.mat-mdc-menu-item {
  min-height: 38px !important;
  height: 38px !important;
  padding: 0 12px !important;
  background: #fff;
  color: #0c1626;
  font-size: 13px;
  font-weight: 700;
}

.mat-mdc-menu-item:hover,
.mat-mdc-menu-item.cdk-program-focused,
.mat-mdc-menu-item.cdk-keyboard-focused,
.mat-mdc-menu-item.mat-mdc-menu-item-highlighted {
  background: #ebf1ff !important;
}

.mat-mdc-menu-item-text {
  display: inline-flex;
  width: 100%;
  align-items: center;
  color: inherit;
    font-size: 13px !important;
    font-weight: 600 !important;
  line-height: 1 !important;
}
