@use './styles/colors';
@use './styles/typo';
@use './styles/buttons';
@use './styles/form-control';
@use './styles/login-flash';
@use './styles/material';
@use './styles/table';

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
